HAN_DEPLOY_TIER=small
HAN_SQL_ROOT=/opt/han/repo/Han/sql
HAN_INNER_AUTH_SECRET=han-cloud-inner-auth
TZ=Asia/Shanghai
POSTGRES_PASSWORD=change-me
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-root-password
HAN_MYSQL_IMAGE=mysql:8.4.10
REDIS_PASSWORD=change-me
HAN_POSTGRES_HOST_PORT=15432
HAN_MYSQL_HOST_PORT=13306
HAN_REDIS_HOST_PORT=16379
HAN_NACOS_HTTP_HOST_PORT=18848
HAN_NACOS_GRPC_HOST_PORT=19848
HAN_GATEWAY_HOST_PORT=19090
HAN_AUTH_HOST_PORT=19200
HAN_SYSTEM_HOST_PORT=19201
HAN_JOB_HOST_PORT=19204
HAN_UI_HOST_PORT=3100
HAN_GATEWAY_IMAGE=registry.cn-hangzhou.aliyuncs.com/xzy0112/han-gateway:latest
HAN_AUTH_IMAGE=registry.cn-hangzhou.aliyuncs.com/xzy0112/han-auth:latest
HAN_SYSTEM_IMAGE=registry.cn-hangzhou.aliyuncs.com/xzy0112/han-system:latest
HAN_JOB_IMAGE=registry.cn-hangzhou.aliyuncs.com/xzy0112/han-job:latest
HAN_UI_IMAGE=registry.cn-hangzhou.aliyuncs.com/xzy0112/han-ui:latest
