HAN_DEPLOY_TIER=small
HAN_SQL_ROOT=/opt/han/repo/Han/sql
HAN_INNER_AUTH_SECRET=han-cloud-inner-auth
TZ=Asia/Shanghai
POSTGRES_PASSWORD=change-me
REDIS_PASSWORD=change-me
HAN_GATEWAY_IMAGE=registry.cn-hangzhou.aliyuncs.com/xzy0112/han-gateway:latest
HAN_AUTH_IMAGE=registry.cn-hangzhou.aliyuncs.com/xzy0112/han-auth:latest
HAN_SYSTEM_IMAGE=registry.cn-hangzhou.aliyuncs.com/xzy0112/han-system:latest
HAN_JOB_IMAGE=registry.cn-hangzhou.aliyuncs.com/xzy0112/han-job:latest
HAN_UI_IMAGE=registry.cn-hangzhou.aliyuncs.com/xzy0112/han-ui:latest
