import { get, post } from '@/utils/request'
import type { PageResult } from '@/types'

export interface ${className} {
#foreach($column in $columns)
#if($column.isList == 1)
  ${column.javaField}: #if($column.javaType == 'Long' || $column.javaType == 'Integer')string | number#elseif($column.javaType == 'Boolean')boolean#else string#end

#end
#end
}

export function list${className}(query: any) {
  return get<PageResult<${className}>>('/${moduleName}/${businessName}/list', query)
}

export function get${className}(id: string | number) {
  return get<${className}>(`/${moduleName}/${businessName}/${'$'}{id}`)
}

export function add${className}(data: any) {
  return post<void>('/${moduleName}/${businessName}', data)
}

export function update${className}(data: any) {
  return post<void>('/${moduleName}/${businessName}/edit', data)
}

export function delete${className}(id: string | number) {
  return post<void>(`/${moduleName}/${businessName}/remove/${'$'}{id}`)
}
