PW_BASE_URL=http://10.18.35.95:3000
PW_API_URL=http://10.18.35.95:9090
PW_USERNAME=admin
PW_PASSWORD=admin123
PW_TENANT_ID=
PW_WORKERS=1
PW_RETRIES=1
PW_TRACE_MODE=on-first-retry
PW_STRUCTURED_WORKFLOW_ID=
PW_STRUCTURED_SOURCE_TEXT=
PW_STRUCTURED_TOOL_NAME=
PW_STRUCTURED_SERVER_NAME=
PW_AI_MODEL_PROVIDER=qwen
PW_AI_MODEL_CODE=
PW_AI_MODEL_BASE_URL=
