package ${packageName}.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${packageName}.domain.po.${className}Po;
import org.apache.ibatis.annotations.Mapper;

/**
 * ${tableComment} Mapper
 *
 * @author ${author}
 * @date ${date}
 */
@Mapper
public interface ${className}Mapper extends BaseMapper<${className}Po> {
}
